.grid {
    width: 600px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.turn-highlight {
    color: rgb(14, 162, 27);
    font-size: 69px;
}
.reset{
    font-size: 35px;
    border-radius: 19px;
}